
.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  /* display: flex; */
  /* justify-content: space-between; */
  margin-bottom: 20px;
}
.filters > div {
  position: relative;
  /* flex-grow: 1; */
}
button {
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  float: right;
  margin: 10px 30px;
}
button:hover {
  opacity: 90%;
  cursor: pointer;
}
.locations,
.amenities {
  height: 100%;
  width: 25%;
  display: inline-block;
  line-height: 4px;
}
.locations {
  border-right: 1px solid #dddddd;
  margin-left: 35px;
 }
.amenities {
  margin-left: 35px;
}
h3 {
  font-weight: 600;
}
h4 {
  font-weight: 400;
  font-size: 14px;
}
.popover {
  display: none;
  position: absolute;
  top: 100%;
  /* left: 0; */
  right: 1.8%;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: auto;
  padding-right: 30px;
  width: 100%;
  z-index: 10;
}
.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}
.popover ul {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
}
.popover h2 {
  font-size: 16px;
 }
.popover li {
  padding: 10px;
}
